* {
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

body{
    background-color: rgb(238, 225, 215);
}

#title1{
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

#title{
    color: rgb(141, 78, 78);
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-top: 10px;
}

#syn{
    color: rgb(141, 78, 78);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    padding: 0;
    margin: 0;
    margin-left: 150px;
    text-shadow: 2px 2px 4px #000000;
}

#information{
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-left: 150px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

#train{
    float: right;
    margin-right: 150px;
    margin-left: 50px;
    margin-top: 30px;
}

#char{
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-left: 150px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

h2{
    padding-bottom: 20px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: rgb(141, 78, 78);
}

ul {
    list-style: none;
    background: #333;
    text-align: left;
    }
    
    ul li {
    display: inline-block;
    position: relative;
    }
    
    ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
    
ul li ul.dropdown li {
    display: block;
    background: #333;
    margin: 2px 0px;
    }
    
    ul li ul.dropdown {
    width:auto;
    background: #000000;
    position: absolute;
    z-index: 999;
    display: none;
    }
    
    ul li a:hover {
    background: #222;
    }
    
    ul li:hover ul.dropdown{
    display: block;
}

img {
    width: 100%;
    height: 100%;
}